cuid2==2.0.1
fastapi==0.115.5
fastapi_users_db_sqlalchemy==6.0.1
passlib==1.7.4
phonenumbers==8.13.50
pydantic==2.10.1
python-dotenv==1.0.1
SQLAlchemy==2.0.36
typing_extensions==4.12.2
uvicorn==0.32.1